{% extends 'BafosApp/base.html' %}
{% block BafosApp_title %}ADV APPS{% endblock %}
{% block BafosApp_content %}

<main role="main">
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-3"></h1>
				</div>
			</div>
		</main>
<form action="" method="POST" name="idform">
<p class="fields"><label>
    <input type="text" name="сompany" id="input" onkeyup="copytext()">
</label>
    <p class="texts">БУКОВКИ КАКИЕ-ТО</p>

        <label class="field">
        <select id="letter" name="data" class="nav-link" onchange="copyletter()">
            <option value="0">Выберете Что-то</option>
            <option value="1">А</option>
            <option value="2">Б</option>
            <option value="3">В</option>
            <option value="4">Г</option>
            <option value="5">Д</option>
            <option value="6">Е</option>
        </select>
    </label>

    <label class="field">
        <select id="number" name="data" class="nav-link" onchange="copynumber()">
            <option value="0">Выберете Что-то</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
        </select>
</label>

    <label class="multiple">
<select id="multiplechoise" class="selectpicker" multiple data-live-search="true" onchange="smth()">
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Barbecue</option>
</select>
</label>

<script>
  $('select').selectpicker();
</script>

<script>
                   function getSelectedText(elementId) {
    var elt = document.getElementById(elementId);

    if (elt.selectedIndex == -1)
        return null;

    return elt.options[elt.selectedIndex].text;
}

            function copyletter() {
                var text1 = getSelectedText('letter');
                var text2 = getSelectedText('number');
                var val2 = document.getElementById('number');
                var values = $('#multiplechoise').val().join("_");

                if (val2.value =="0" && !($('#multiplechoise option').is(':selected'))) {
                    var answer = document.getElementById("input").value;
                    document.getElementById("result").value = answer + "_" + text1 + "";
                } else if (!val2.value =="0" && !($('#multiplechoise option').is(':selected'))) {
                   var answer = document.getElementById("input").value + "_" + text1;

                    document.getElementById("result").value = answer + "_" + text2;
                } else if (val2.value =="0" && ($('#multiplechoise option').is(':selected'))) {
                    var answer = document.getElementById("input").value;

                    document.getElementById("result").value = answer + "_" + text1 + "_"+ values;
                } else {
                    var answer = document.getElementById("input").value + "_" + text1;

                    document.getElementById("result").value = answer + "_" + text2 + "_" + values;
                }

            }

            function copynumber() {
                var text1 = getSelectedText('letter');
                var text2 = getSelectedText('number');
                var val = document.getElementById('letter');
                var values = $('#multiplechoise').val().join("_");
                if (val.value =="0" && !($('#multiplechoise option').is(':selected'))) {
                    var answer = document.getElementById("input").value + "_" + "";

                    document.getElementById("result").value = answer + "_" + text2;
                } else if (!val.value =="0" && !($('#multiplechoise option').is(':selected'))) {
                   var answer = document.getElementById("input").value + "_" + text1;

                    document.getElementById("result").value = answer + "_" + text2;
                } else if (val.value =="0" && ($('#multiplechoise option').is(':selected'))) {
                    var answer = document.getElementById("input").value + "_" + "";

                    document.getElementById("result").value = answer + "_" + text2 + "_" + values;
                } else {
                    var answer = document.getElementById("input").value + "_" + text1;

                    document.getElementById("result").value = answer + "_" + text2 + "_" + values;
                }


            }


        function smth() {
            var values = $('#multiplechoise').val().join("_");
            var text1 = getSelectedText('letter');
            var text2 = getSelectedText('number');
            var val1 = document.getElementById('letter');
            var val2 = document.getElementById('number');
            if (val1.value =="0" && val2.value =="0") {
                var answer = document.getElementById("input").value + "_" + "";

                document.getElementById("result").value = answer + "_" + values;
            } else if (val1.value =="0" && !val2.value =="0") {
                var answer = document.getElementById("input").value + "_" + text2;

                document.getElementById("result").value = answer + "_" + values;
            } else if (val2.value =="0" && !val1.value =="0"){
                var answer = document.getElementById("input").value + "_" + text1;

                document.getElementById("result").value = answer + "_" + values;
            } else {
                var answer = document.getElementById("input").value + "_" + text1 + "_" + text2;

                document.getElementById("result").value = answer + "_" + values;
            }

        }
</script>
<script>

        function copytext() {
var elem_text = document.getElementById("input").value;
if(!document.getElementById("result").value.includes("_")){
    document.getElementById("result").value = elem_text;
    }
    else{
    //elem_text.replace(document.getElementById("result").value.substring(0, str.indexOf("_")),document.getElementById("input").value);
    document.getElementById("result").value = document.getElementById("input").value+document.getElementById("result").value.substr(document.getElementById("result").value.indexOf('_')+length);
}
        }

    </script>
<p class="fields"><label>
    <input type="text" name="сompany" id="result" >
</label>
    <p class="texts" id="x"></p>

<div>
            <p><input type="button" class="knopka btn-sm" value="Скопировать в буфер" onclick="copy2clipboard()"><a></a></p>
</div>
    <div>
        <p><input type="button" class="knopka btn-sm" value="Добавить в столбец" onclick="createTable()"><a></a></p>
</div>
    <div>
        <p><input type="button" class="knopka btn-sm" id="gp" value="Скопировать столбец" onclick="CopyTable()"><a></a></p>
</div>


<div class="table-responsive">
    <table border="1" class="table table-striped table-sm" id="table1">
          </table>
</div>




    <script>
        function copy2clipboard() {
  /* Get the text field */
  var copyText = document.getElementById("result");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");
}
        </script>
<script>
    function createTable() {
            var table = document.getElementById('table1');
            var tr31 = document.createElement('tr'); //создаем еще строку
            var td31 = document.createElement('td');
            td31.innerHTML = document.getElementById("result").value; //создаем столбец
            tr31.appendChild(td31); //кладем в новосозданную строку первый новосозданный столбец
            table.appendChild(tr31); //кладем в таблицу новосозданную строку (последней)
    }
    </script>
<script>
    function CopyTable() {
        var el = document.getElementById('table1');
   var body = document.body, range, sel;
    if (document.createRange && window.getSelection) {
        range = document.createRange();
        sel = window.getSelection();
        sel.removeAllRanges();
        try {
            range.selectNodeContents(el);
            sel.addRange(range);
        } catch (e) {
            range.selectNode(el);
            sel.addRange(range);
        }
    } else if (body.createTextRange) {
        range = body.createTextRange();
        range.moveToElementText(el);
        range.select();
    }
    document.execCommand("Copy");
    }
 </script>
</form>
<p><button class="knopka btn-sm" name="mybtn"><a href="{% url 'blog_index' %}">Назад на основную страницу</a></button>

{% endblock %}
