{% extends 'BafosApp/base.html' %}
{% block BafosApp_title %}ADV APPS{% endblock %}
{% block BafosApp_content %}
<form action="" method="POST" name="idform">
    <p class="texts">Имя кампании</p>
<p class="fields"><label>
    <input type="text" class="form-control" name="сompany" style="width: 480px;" id="input" onkeyup="copytext()">
</label>

    <p class="texts">Номер строки из плана</p>
<p class="fields"><label>
    <input type="text" class="form-control" name="сompany" style="width: 480px;" id="num" onkeyup="addzeros()">
</label>

  <p class="texts">Формат</p>
        <label class="field">
        <select id="DifFormat" name="data" class="form-control" onchange="add_format()">
            <option value="''">Выберете тип аудитории</option>
            <option value="PREROLL">Прероллы в видео </option>
            <option value="MOBVIDEOSQ">Мобильная видео реклама: квадратное видео </option>
            <option value="MOBVIDEO">Мобильная видео реклама </option>
            <option value="MOBVIDEOVER">Мобильная видео реклама: вертикальное видео </option>
            <option value="MULTIFOR">Кроссплатформенный мультиформат </option>
            <option value="YOULA">Мультиформатное размещение на Юле </option>
            <option value="PAN">Премиальная аудиторная сеть </option>
            <option value="FSCROSS">Кроссплатформенный Fullscreen </option>
            <option value="NATMOBVIDEO">Нативный баннер с видео (автоплей, мобайл)</option>
            <option value="NATMOBBANN">Нативный баннер (мобайл)</option>
            <option value="90х75">Тизер 90х75 в социальных сетях и сервисах </option>
            <option value="CAROUSEL">Карусель </option>
            <option value="VIBER">Нативная реклама в Viber</option>
            <option value="300x250m">Мобильный баннер 300x250 HTML5 </option>
            <option value="NRPREMI">Out-stream видеосеть NativeRoll Premium</option>
            <option value="VQTAD">Out-stream video VQT AD </option>
            <option value="VIQEO">Премиальная видеосеть Viqeo </option>
            <option value="MULTIVID">Мультиформатное размещение видео </option>
            <option value="NRBUMPER">Out-stream видеосеть NativeRoll Bumper Ads</option>
            <option value="VIQEOBUM">Премиальная видеосеть Viqeo Bumper Ads </option>
            <option value="VQTBUM">Out-stream видео VQT Bumper Ads </option>
            <option value="240х400ah">Баннер 240х400 HTML5 в социальных сетях и сервисах </option>
            <option value="240х400ag">Баннер 240х400 в социальных сетях и сервисах </option>
            <option value="NRSTAND">Out-stream видеосеть NativeRoll Standard</option>
            <option value="STRING">Нативная строка в списке писем</option>
            <option value="240х400vs">Видео-баннер 240х400 в социальных сетях и сервисах</option>
            <option value="240х400vm">Видео-баннер 240х400 в Почте Mail.Ru</option>
            <option value="MAINMOB">Перетяжка на главной (мобайл, ТТМ)</option>
            <option value="FSVIDEO">Полноэкранное видео </option>
            <option value="1080х607s">Широкоформатный блок 1080х607 в ленте событий для Медийных Агентств</option>
            <option value="300x300a">Баннер 300х300 (HTML5) на Главной странице</option>
            <option value="MOBTIER3">Мобильная рекламная сеть (Tier3)</option>
            <option value="MOBTIER2">Мобильная рекламная сеть (Tier1)</option>
            <option value="MOBTIER1">Мобильная рекламная сеть (Tier2)</option>
            <option value="YOUNG">Прероллы в видео (ТТМ, Молодежь)</option>
            <option value="300x300v">Видео-баннер 300х300 на Главной странице</option>
            <option value="PRIORITY">Прероллы в видео (Priority)</option>
            <option value="VIDEODEAL">Прямые сделки партнерская схема: Видео</option>
            <option value="REWA">Rewarded видео (ТТМ, fixCPM)</option>
            <option value="OKPOST">Заметки</option>
            <option value="OKVIDEOP">Видео в Заметках с автозапуском</option>
            <option value="OKVK">Кроссплатформенные видео посты (OK+VK)</option>
            <option value="MYWIDGET">Нативная реклама в myWidget</option>
            <option value="AUDIO">Аудиореклама</option>
            <option value="INCMOBILE">Прероллы в видео (Incremental mobile)</option>
            <option value="APPADS">Реклама приложений</option>
        </select>
    </label>

   <style type="text/css">
  .hide{
    display:none;
  }
  .hide.show{
    display: block;
  }
  </style>

 <script>
     window.addEventListener('DOMContentLoaded', function() {
         var select = document.querySelector('#DifFormat'),
             hide = document.querySelectorAll('.hide');

  function change()
  {
    [].forEach.call(hide, function(el) {
           var add = el.classList.contains(select.value) ? "add" : "remove";
           el.classList[add]('show');
    });
  }
  select.addEventListener('change', change);
  change()
  });
  </script>

      <p class="texts">Пол</p>
    <label class="field">
        <select id="sex" name="data" class="form-control" onchange="copysex()">
            <option value="">Выберете пол</option>
            <option value="ALL">Любой</option>
            <option value="M">Мужской</option>
            <option value="W">Женский</option>
        </select>
    </label>

    <p class="texts">Возраст от</p>
<p class="fields"><label>
    <input type="text" id="age_above" class="form-control" style="width: 480px;" name="сompany" onchange=copyage()>
</label>
    <p class="texts">Возраст до</p>
<p class="fields"><label>
    <input type="text" id ="age_below" class="form-control" style="width: 480px;" name="сompany" onchange="copyage()">
</label>

 <p class="texts">Тип таргентинга</p>
        <label class="field">
        <select id="targeting" name="data" class="form-control" onchange="typeoftargeting()">
            <option value="">Выберете девайсы</option>
            <option value="BEHAV">Поведенческие и социальные характеристики</option>
            <option value="INTER">Интересы</option>
            <option value="VKID">Список ID - Одноклассники</option>
            <option value="OKID">Список ВК - Вконтакте</option>
            <option value="CRMPHONE">Список телефонных номеров</option>
            <option value="CRMEMAIL">Список емейлов</option>
            <option value="DEVICEID">Список устройств</option>
            <option value="MAC">Список MAC-адресов</option>
            <option value="KEYWORDS">Контекстный таргетинг</option>
            <option value="CAMPREM">Ремаркетинг с кампании</option>
            <option value="SITEREM">Ремаркетинг с сайта</option>
            <option value="VKAPPS">Приложения (VK)</option>
            <option value="OKAPPS">Приложения (ОК и МойМир)</option>
            <option value="VKGROUPS">Группы (OK)</option>
            <option value="OKGROUPS">Группы (ВК)</option>
            <option value="DMP">Собственная DMP (из стандартной таксономии)</option>
            <option value="BIGFISH">Собственная DMP (BigFish)</option>
            <option value="X5DATA">X5 Retail Group</option>
            <option value="BEELINE">Belline data</option>
            <option value="3RDPARTY">Внешние сегменты</option>
            <option value="AIZEK">Сегмент Aizek</option>
        </select>
    </label>

    <p class="texts">Название таргентинга</p>
<p class="fields"><label>
    <input type="text" name="сompany" class="form-control" style="width: 480px;" id="nametargeting" onkeyup="typeoftargeting()">
</label>

     <p class="texts">Тип закупки</p>
    <label class="hide '' field">
        <select id="typeofads" name="data" class="form-control" disabled>
            <option value="">Выберете ставку</option>
            <option value="CPM">CPM</option>
            <option value="CPC">CPC</option>
            <option value="CPV">CPV</option>
            <option value="CPE">CPE</option>
            <option value="CPI">CPI</option>
        </select>
    </label>

<label class="hide MOBVIDEOSQ MOBVIDEO MOBVIDEOVER MULTIFOR 90х75 CAROUSEL 240х400ah 240х400ag
 MOBTIER3 MOBTIER2 MOBTIER1 field">
        <select id="typeofads1" name="data" class="form-control" onchange="typeoftargeting()">
            <option value="">Выберете ставку</option>
            <option value="CPM">CPM</option>
            <option value="CPC">CPC</option>
        </select>
    </label>

    <label class="hide PREROLL field">
        <select id="typeofads2" name="data" class="form-control" onchange="typeoftargeting()">
            <option value="">Выберете ставку</option>
            <option value="CPM">CPM</option>
            <option value="CPV">CPV</option>
        </select>
    </label>

    <label class="hide PAN FSCROSS NATMOBVIDEO NATMOBBANN VIBER 300x250m MULTIVID STRING 240х400vs 240х400vm
    MAINMOB FSVIDEO 1080х607s 300x300a YOUNG 300x300v PRIORITY VIDEODEAL REWA OKVIDEOP OKVK AUDIO INCMOBILE field">
        <select id="typeofads3" name="data" class="form-control" onchange="typeoftargeting()">
            <option value="">Выберете ставку</option>
            <option value="CPM">CPM</option>
        </select>
    </label>

    <label class="hide NRPREMI VQTAD VIQEO NRBUMPER VIQEOBUM VQTBUM NRSTAND field">
        <select id="typeofads4" name="data" class="form-control" onchange="typeoftargeting()">
            <option value="">Выберете ставку</option>
            <option value="CPV">CPV</option>
        </select>
    </label>

    <label class="hide MYWIDGET field">
        <select id="typeofads5" name="data" class="form-control" onchange="typeoftargeting()">
            <option value="">Выберете ставку</option>
            <option value="CPC">CPC</option>
        </select>
    </label>

    <label class="hide APPADS field">
        <select id="typeofads6" name="data" class="form-control" onchange="typeoftargeting()">
            <option value="">Выберете ставку</option>
            <option value="CPM">CPM</option>
            <option value="CPC">CPC</option>
            <option value="CPI">CPI</option>
        </select>
    </label>


     <p class="texts">Гео</p>
    <label class="multiple">
        <select id="multipleregs" class="selectpicker" data-size="6" multiple data-live-search="true" onchange="geog()">
            <option value="RF">Россия</option>
            <option value="SUPERGEO">SUPERGEO</option>
            <option value="22">Алтайский край</option>
            <option value="28">Амурская область</option>
            <option value="29">Архангельская область</option>
            <option value="30">Астраханская область</option>
            <option value="31">Белгородская область</option>
            <option value="32">Брянская область</option>
            <option value="33">Владимирская область</option>
            <option value="34">Волгоградская область</option>
            <option value="35">Вологодская область</option>
            <option value="36">Воронежская область</option>
            <option value="77">г. Москва</option>
            <option value="79">Еврейская автономная область</option>
            <option value="75">Забайкальский край</option>
            <option value="37">Ивановская область</option>
            <option value="99">Иные территории, включая город и космодром Байконур</option>
            <option value="38">Иркутская область</option>
            <option value="07">Кабардино-Балкарская Республика</option>
            <option value="39">Калининградская область</option>
            <option value="40">Калужская область</option>
            <option value="41">Камчатский край</option>
            <option value="09">Карачаево-Черкесская Республика</option>
            <option value="42">Кемеровская область</option>
            <option value="43">Кировская область</option>
            <option value="44">Костромская область</option>
            <option value="23">Краснодарский край</option>
            <option value="24">Красноярский край</option>
            <option value="45">Курганская область</option>
            <option value="46">Курская область</option>
            <option value="47">Ленинградская область</option>
            <option value="48">Липецкая область</option>
            <option value="49">Магаданская область</option>
            <option value="50">Московская область</option>
            <option value="51">Мурманская область</option>
            <option value="83">Ненецкий автономный округ</option>
            <option value="52">Нижегородская область</option>
            <option value="53">Новгородская область</option>
            <option value="54">Новосибирская область</option>
            <option value="55">Омская область</option>
            <option value="56">Оренбургская область</option>
            <option value="57">Орловская область</option>
            <option value="58">Пензенская область</option>
            <option value="59">Пермский край</option>
            <option value="25">Приморский край</option>
            <option value="60">Псковская область</option>
            <option value="01">Республика Адыгея (Адыгея)</option>
            <option value="02">Республика Алтай</option>
            <option value="03">Республика Башкортостан</option>
            <option value="04">Республика Бурятия</option>
            <option value="05">Республика Дагестан</option>
            <option value="06">Республика Ингушетия</option>
            <option value="08">Республика Калмыкия</option>
            <option value="10">Республика Карелия</option>
            <option value="11">Республика Коми</option>
            <option value="91">Республика Крым</option>
            <option value="12">Республика Марий Эл</option>
            <option value="13">Республика Мордовия</option>
            <option value="14">Республика Саха (Якутия)</option>
            <option value="15">Республика Северная Осетия - Алания</option>
            <option value="16">Республика Татарстан (Татарстан)</option>
            <option value="17">Республика Тыва</option>
            <option value="19">Республика Хакасия</option>
            <option value="61">Ростовская область</option>
            <option value="62">Рязанская область</option>
            <option value="63">Самарская область</option>
            <option value="78">Санкт-Петербург</option>
            <option value="64">Саратовская область</option>
            <option value="65">Сахалинская область</option>
            <option value="66">Свердловская область</option>
            <option value="92">Севастополь</option>
            <option value="67">Смоленская область</option>
            <option value="26">Ставропольский край</option>
            <option value="68">Тамбовская область</option>
            <option value="69">Тверская область</option>
            <option value="70">Томская область</option>
            <option value="71">Тульская область</option>
            <option value="72">Тюменская область</option>
            <option value="18">Удмуртская Республика</option>
            <option value="73">Ульяновская область</option>
            <option value="27">Хабаровский край</option>
            <option value="86">Ханты-Мансийский автономный округ - Югра</option>
            <option value="74">Челябинская область</option>
            <option value="20">Чеченская Республика</option>
            <option value="21">Чувашская Республика - Чувашия</option>
            <option value="87">Чукотский автономный округ</option>
            <option value="89">Ямало-Ненецкий автономный округ</option>
            <option value="76">Ярославская область</option>
        </select>
    </label>

<script>
  $('.multipleregs').selectpicker();
</script>

     <p class="texts">Длина видео(в секундах)</p>
    <p class="fields"><label>
    <input type="text" name="сompany" class="form-control" id="length" style="width: 480px;" onkeyup="add_length()" readonly>
</label>


<script>

            function copytext() {
                var elem_text = document.getElementById("input").value;
                if(!document.getElementById("сompany_result").value.includes("|")){
                    document.getElementById("сompany_result").value = elem_text;
                }
                else{
                    document.getElementById("сompany_result").value = document.getElementById("input").value+document.getElementById("сompany_result").value.substr(document.getElementById("сompany_result").value.indexOf('|')+length);
                }
            }


            function addzeros() {
                var num_text = Number(document.getElementById("num").value);
                if (num_text < 10) {
                    var final_var = "00" + num_text.toString()
                } else if (num_text < 100) {
                    var final_var = "0" + num_text.toString()
                } else {
                    var final_var = num_text.toString()
                }
                var elem_text = document.getElementById("input").value;
                document.getElementById("num").value = final_var;

                var arr1 = ["MOBVIDEOSQ", "MOBVIDEO", "MOBVIDEOVER", "MULTIFOR", "90х75", "CAROUSEL", "240х400ah",
                    "240х400ag", "MOBTIER3", "MOBTIER2", "MOBTIER1"];
                var arr2 = ["PREROLL"];
                var arr3 = ["PAN","FSCROSS", "NATMOBVIDEO", "NATMOBBANN", "VIBER", "300x250m", "MULTIVID", "STRING",
                    "240х400vs", "240х400vm", "MAINMOB", "FSVIDEO", "1080х607s", "300x300a", "YOUNG", "300x300v",
                    "PRIORITY", "VIDEODEAL", "REWA", "OKVIDEOP", "OKVK", "AUDIO", "INCMOBILE"];
                var arr4 = ["NRPREMI","VQTAD","VIQEO","NRBUMPER","VIQEOBUM","VQTBUM","NRSTAND"];
                var arr5 = ["MYWIDGET"];
                var arr6 = ["APPADS"];

                var format = document.getElementById('DifFormat').value;
                var sex = document.getElementById('sex').value;
                var age_above = document.getElementById('age_above').value;
                var age_below = document.getElementById('age_below').value;
                var type = document.getElementById('targeting').value;
                var ads1 = document.getElementById('typeofads1').value;
                var ads2 = document.getElementById('typeofads2').value;
                var ads3 = document.getElementById('typeofads3').value;
                var ads4 = document.getElementById('typeofads4').value;
                var ads5 = document.getElementById('typeofads5').value;
                var ads6 = document.getElementById('typeofads6').value;
                var name = document.getElementById('nametargeting').value;
                var geo =  $('#multipleregs').val().join("+");
                var length = document.getElementById('length').value;


                if (document.getElementById('length').readOnly = false){
                    length = document.getElementById('length').value + "s";
                }

                var answer = elem_text + "|" +  final_var;
                if ($('#multipleregs').val().length > 5){geo = "REGS";}
                if (arr1.includes(format)) {
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads1 +"|" + name + "|" + geo + "|" + length;
                } else if(arr2.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads2 +"|" + name + "|" + geo + "|" + length;
                }else if(arr3.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads3 +"|" + name + "|" + geo + "|" + length;
                }else if(arr4.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads4 +"|" + name + "|" + geo + "|" + length;
                }else if(arr5.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads5 +"|" + name + "|" + geo + "|" + length;
                }else if(arr6.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads6 +"|" + name + "|" + geo + "|" + length;
                }else{
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+""+"|" + name + "|" + geo + "|" + length;
                }

            }



            function add_format() {
                var elem_text = document.getElementById("input").value;
                var num_text = document.getElementById("num").value;
                var names = ["MOBVIDEOSQ","MOBVIDEO","MOBVIDEOVER","NATMOBVIDEO", "NRPREMI","PREROLL","VQTAD","VIQEO","MULTIVID"
                    ,"NRBUMPER","VIQEOBUM","VQTBUM","NRSTAND","240х400vs","240х400vm","FSVIDEO","YOUNG","300x300v","PRIORITY"
                    ,"VIDEODEAL","REWA","OKVIDEOP","OKVK","AUDIO","INCMOBILE"];
                var format = document.getElementById('DifFormat').value;
                var sex = document.getElementById('sex').value;
                var age_above = document.getElementById('age_above').value;
                var age_below = document.getElementById('age_below').value;
                var type = document.getElementById('targeting').value;
                var ads1 = document.getElementById('typeofads1').value;
                var ads2 = document.getElementById('typeofads2').value;
                var ads3 = document.getElementById('typeofads3').value;
                var ads4 = document.getElementById('typeofads4').value;
                var ads5 = document.getElementById('typeofads5').value;
                var ads6 = document.getElementById('typeofads6').value;
                var name = document.getElementById('nametargeting').value;
                var geo =  $('#multipleregs').val().join("+");
                var length = document.getElementById('length').value;


                document.getElementById('length').readOnly = !names.includes(format);
                if (document.getElementById('length').readOnly = false){
                    length = document.getElementById('length').value + "s";
                }

                var arr1 = ["MOBVIDEOSQ", "MOBVIDEO", "MOBVIDEOVER", "MULTIFOR", "90х75", "CAROUSEL", "240х400ah",
                    "240х400ag", "MOBTIER3", "MOBTIER2", "MOBTIER1"];
                var arr2 = ["PREROLL"];
                var arr3 = ["PAN","FSCROSS", "NATMOBVIDEO", "NATMOBBANN", "VIBER", "300x250m", "MULTIVID", "STRING",
                    "240х400vs", "240х400vm", "MAINMOB", "FSVIDEO", "1080х607s", "300x300a", "YOUNG", "300x300v",
                    "PRIORITY", "VIDEODEAL", "REWA", "OKVIDEOP", "OKVK", "AUDIO", "INCMOBILE"];
                var arr4 = ["NRPREMI","VQTAD","VIQEO","NRBUMPER","VIQEOBUM","VQTBUM","NRSTAND"];
                var arr5 = ["MYWIDGET"];
                var arr6 = ["APPADS"];

                var answer = elem_text + "|" +  num_text;
                if ($('#multipleregs').val().length > 5){geo = "REGS";}
                if (arr1.includes(format)) {
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads1 +"|" + name + "|" + geo + "|" + length;
                } else if(arr2.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads2 +"|" + name + "|" + geo + "|" + length;
                }else if(arr3.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads3 +"|" + name + "|" + geo + "|" + length;
                }else if(arr4.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads4 +"|" + name + "|" + geo + "|" + length;
                }else if(arr5.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads5 +"|" + name + "|" + geo + "|" + length;
                }else if(arr6.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads6 +"|" + name + "|" + geo + "|" + length;
                }else{
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+""+"|" + name + "|" + geo + "|" + length;
                }
            }


            function copysex() {
                var elem_text = document.getElementById("input").value;
                var num_text = document.getElementById("num").value;
                var format = document.getElementById('DifFormat').value;
                var sex = document.getElementById('sex').value;
                var age_above = document.getElementById('age_above').value;
                var age_below = document.getElementById('age_below').value;
                var type = document.getElementById('targeting').value;
                var ads1 = document.getElementById('typeofads1').value;
                var ads2 = document.getElementById('typeofads2').value;
                var ads3 = document.getElementById('typeofads3').value;
                var ads4 = document.getElementById('typeofads4').value;
                var ads5 = document.getElementById('typeofads5').value;
                var ads6 = document.getElementById('typeofads6').value;
                var name = document.getElementById('nametargeting').value;
                var geo =  $('#multipleregs').val().join("+");
                var length = document.getElementById('length').value;

                if (document.getElementById('length').readOnly = false){
                    length = document.getElementById('length').value + "s";
                }

                var arr1 = ["MOBVIDEOSQ", "MOBVIDEO", "MOBVIDEOVER", "MULTIFOR", "90х75", "CAROUSEL", "240х400ah",
                    "240х400ag", "MOBTIER3", "MOBTIER2", "MOBTIER1"];
                var arr2 = ["PREROLL"];
                var arr3 = ["PAN","FSCROSS", "NATMOBVIDEO", "NATMOBBANN", "VIBER", "300x250m", "MULTIVID", "STRING",
                    "240х400vs", "240х400vm", "MAINMOB", "FSVIDEO", "1080х607s", "300x300a", "YOUNG", "300x300v",
                    "PRIORITY", "VIDEODEAL", "REWA", "OKVIDEOP", "OKVK", "AUDIO", "INCMOBILE"];
                var arr4 = ["NRPREMI","VQTAD","VIQEO","NRBUMPER","VIQEOBUM","VQTBUM","NRSTAND"];
                var arr5 = ["MYWIDGET"];
                var arr6 = ["APPADS"];

                var answer = elem_text + "|" +  num_text;
                if ($('#multipleregs').val().length > 5){geo = "REGS";}
                if (arr1.includes(format)) {
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads1 +"|" + name + "|" + geo + "|" + length;
                } else if(arr2.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads2 +"|" + name + "|" + geo + "|" + length;
                }else if(arr3.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads3 +"|" + name + "|" + geo + "|" + length;
                }else if(arr4.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads4 +"|" + name + "|" + geo + "|" + length;
                }else if(arr5.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads5 +"|" + name + "|" + geo + "|" + length;
                }else if(arr6.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads6 +"|" + name + "|" + geo + "|" + length;
                }else{
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+""+"|" + name + "|" + geo + "|" + length;
                }

            }

            function copyage() {
                var elem_text = document.getElementById("input").value;
                var num_text = document.getElementById("num").value;
                var format = document.getElementById('DifFormat').value;
                var sex = document.getElementById('sex').value;
                var age_above = document.getElementById('age_above').value;
                var age_below = document.getElementById('age_below').value;
                var type = document.getElementById('targeting').value;
                var ads1 = document.getElementById('typeofads1').value;
                var ads2 = document.getElementById('typeofads2').value;
                var ads3 = document.getElementById('typeofads3').value;
                var ads4 = document.getElementById('typeofads4').value;
                var ads5 = document.getElementById('typeofads5').value;
                var ads6 = document.getElementById('typeofads6').value;
                var name = document.getElementById('nametargeting').value;
                var geo =  $('#multipleregs').val().join("+");
                var length = document.getElementById('length').value;

                if (document.getElementById('length').readOnly = false){
                    length = document.getElementById('length').value + "s";
                }

                if (Number(age_above)<12 && age_above!=''){
                    alert("Минимальный возраст 12 лет");
                    document.getElementById('age_above').value = 14;
                    age_above = document.getElementById('age_above').value;
                } else if((Number(age_below)>75) && age_below !=''){
                    alert("Максимальный возраст 75 лет");
                    document.getElementById('age_below').value = 75;
                    age_below = document.getElementById('age_below').value;
                }

                var arr1 = ["MOBVIDEOSQ", "MOBVIDEO", "MOBVIDEOVER", "MULTIFOR", "90х75", "CAROUSEL", "240х400ah",
                    "240х400ag", "MOBTIER3", "MOBTIER2", "MOBTIER1"];
                var arr2 = ["PREROLL"];
                var arr3 = ["PAN","FSCROSS", "NATMOBVIDEO", "NATMOBBANN", "VIBER", "300x250m", "MULTIVID", "STRING",
                    "240х400vs", "240х400vm", "MAINMOB", "FSVIDEO", "1080х607s", "300x300a", "YOUNG", "300x300v",
                    "PRIORITY", "VIDEODEAL", "REWA", "OKVIDEOP", "OKVK", "AUDIO", "INCMOBILE"];
                var arr4 = ["NRPREMI","VQTAD","VIQEO","NRBUMPER","VIQEOBUM","VQTBUM","NRSTAND"];
                var arr5 = ["MYWIDGET"];
                var arr6 = ["APPADS"];

                var answer = elem_text + "|" +  num_text;
                if ($('#multipleregs').val().length > 5){geo = "REGS";}
                if (arr1.includes(format)) {
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads1 +"|" + name + "|" + geo + "|" + length;
                } else if(arr2.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads2 +"|" + name + "|" + geo + "|" + length;
                }else if(arr3.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads3 +"|" + name + "|" + geo + "|" + length;
                }else if(arr4.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads4 +"|" + name + "|" + geo + "|" + length;
                }else if(arr5.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads5 +"|" + name + "|" + geo + "|" + length;
                }else if(arr6.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads6 +"|" + name + "|" + geo + "|" + length;
                }else{
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+""+"|" + name + "|" + geo + "|" + length;
                }

            }

             function typeoftargeting() {
                var elem_text = document.getElementById("input").value;
                var num_text = document.getElementById("num").value;
                var format = document.getElementById('DifFormat').value;
                var sex = document.getElementById('sex').value;
                var age_above = document.getElementById('age_above').value;
                var age_below = document.getElementById('age_below').value;
                var type = document.getElementById('targeting').value;
                var ads1 = document.getElementById('typeofads1').value;
                var ads2 = document.getElementById('typeofads2').value;
                var ads3 = document.getElementById('typeofads3').value;
                var ads4 = document.getElementById('typeofads4').value;
                var ads5 = document.getElementById('typeofads5').value;
                var ads6 = document.getElementById('typeofads6').value;
                var name = document.getElementById('nametargeting').value;
                var geo =  $('#multipleregs').val().join("+");
                var length = document.getElementById('length').value;

                 if (document.getElementById('length').readOnly = false){
                    length = document.getElementById('length').value + "s";
                }

                var arr1 = ["MOBVIDEOSQ", "MOBVIDEO", "MOBVIDEOVER", "MULTIFOR", "90х75", "CAROUSEL", "240х400ah",
                    "240х400ag", "MOBTIER3", "MOBTIER2", "MOBTIER1"];
                var arr2 = ["PREROLL"];
                var arr3 = ["PAN","FSCROSS", "NATMOBVIDEO", "NATMOBBANN", "VIBER", "300x250m", "MULTIVID", "STRING",
                    "240х400vs", "240х400vm", "MAINMOB", "FSVIDEO", "1080х607s", "300x300a", "YOUNG", "300x300v",
                    "PRIORITY", "VIDEODEAL", "REWA", "OKVIDEOP", "OKVK", "AUDIO", "INCMOBILE"];
                var arr4 = ["NRPREMI","VQTAD","VIQEO","NRBUMPER","VIQEOBUM","VQTBUM","NRSTAND"];
                var arr5 = ["MYWIDGET"];
                var arr6 = ["APPADS"];

                var answer = elem_text + "|" +  num_text;
                if ($('#multipleregs').val().length > 5){geo = "REGS";}
                if (arr1.includes(format)) {
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads1 +"|" + name + "|" + geo + "|" + length;
                } else if(arr2.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads2 +"|" + name + "|" + geo + "|" + length;
                }else if(arr3.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads3 +"|" + name + "|" + geo + "|" + length;
                }else if(arr4.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads4 +"|" + name + "|" + geo + "|" + length;
                }else if(arr5.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads5 +"|" + name + "|" + geo + "|" + length;
                }else if(arr6.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads6 +"|" + name + "|" + geo + "|" + length;
                }else{
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+""+"|" + name + "|" + geo + "|" + length;
                }

            }

            function geog() {
                var elem_text = document.getElementById("input").value;
                var num_text = document.getElementById("num").value;
                var format = document.getElementById('DifFormat').value;
                var sex = document.getElementById('sex').value;
                var age_above = document.getElementById('age_above').value;
                var age_below = document.getElementById('age_below').value;
                var type = document.getElementById('targeting').value;
                var ads1 = document.getElementById('typeofads1').value;
                var ads2 = document.getElementById('typeofads2').value;
                var ads3 = document.getElementById('typeofads3').value;
                var ads4 = document.getElementById('typeofads4').value;
                var ads5 = document.getElementById('typeofads5').value;
                var ads6 = document.getElementById('typeofads6').value;
                var name = document.getElementById('nametargeting').value;
                var geo =  $('#multipleregs').val().join("+");
                var length = document.getElementById('length').value;

                if (document.getElementById('length').readOnly = false){
                    length = document.getElementById('length').value + "s";
                }

            if ($('#multipleregs').val() != "RF" && $('#multipleregs').val() != "" && $('#multipleregs').val() != "SUPERGEO"){
                var input = $('#multipleregs input[value="RF"]');
                var option = $('#multipleregs option[value="RF"]');
                input.prop('disabled', true);
                option.prop('disabled', true);

                var input1 = $('#multipleregs input[value="SUPERGEO"]');
                var option1 = $('#multipleregs option[value="SUPERGEO"]');
                input1.prop('disabled', true);
                option1.prop('disabled', true);

            } else if ($('#multipleregs').val() == "") {
             for (var i = 1; i < 100; i++) {
                 var j = i.toString();
                 if (i>=1 && i<10){
                     $('#multipleregs input[value=0'+j+']').prop('disabled', false);
                     $('#multipleregs option[value=0'+j+']').prop('disabled', false);
                 }else{
                     $('#multipleregs input[value='+j+']').prop('disabled', false);
                     $('#multipleregs option[value='+j+']').prop('disabled', false);
                 var input = $('#multipleregs input[value="RF"]');
                 $('#multipleregs input[value="RF"]').prop('disabled', false);
                 $('#multipleregs option[value="RF"]').prop('disabled', false);
                 input.parent('label').parent('a').parent('li').removeAttr('disabled');

                 input = $('#multipleregs input[value="SUPERGEO"]');
                 $('#multipleregs input[value="SUPERGEO"]').prop('disabled', false);
                 $('#multipleregs option[value="SUPERGEO"]').prop('disabled', false);
                 input.parent('label').parent('a').parent('li').removeAttr('disabled');
                 }
                }
            } else if ($('#multipleregs').val() == "RF"){
                for (i = 1; i < 100; i++){
                    var j = i.toString();
                    if (i<10){
                    var input = $('#multipleregs input[value=0'+j+']');
                    var option = $('#multipleregs option[value=0'+j+']');
                    input.prop('disabled', true);
                   option.prop('disabled', true);
                    } else{
                    var input = $('#multipleregs input[value='+j+']');
                    var option = $('#multipleregs option[value='+j+']');
                    input.prop('disabled', true);
                    option.prop('disabled', true);
                    $('#multipleregs input[value="SUPERGEO"]').prop('disabled', true);
                    $('#multipleregs option[value="SUPERGEO"]').prop('disabled', true);;
                   }
                }
            } else if ($('#multipleregs').val() == "SUPERGEO") {
                for (i = 1; i < 100; i++){
                    var j = i.toString();
                    if (i<10){
                    var input = $('#multipleregs input[value=0'+j+']');
                    var option = $('#multipleregs option[value=0'+j+']');
                    input.prop('disabled', true);
                   option.prop('disabled', true);
                    } else{
                    var input = $('#multipleregs input[value='+j+']');
                    var option = $('#multipleregs option[value='+j+']');
                    input.prop('disabled', true);
                   option.prop('disabled', true);
                   $('#multipleregs input[value="RF"]').prop('disabled', true);
                   $('#multipleregs option[value="RF"]').prop('disabled', true);
                    }
                }
            }

            if ($('#multipleregs').val().length > 5){geo = "REGS";}

                var arr1 = ["MOBVIDEOSQ", "MOBVIDEO", "MOBVIDEOVER", "MULTIFOR", "90х75", "CAROUSEL", "240х400ah",
                    "240х400ag", "MOBTIER3", "MOBTIER2", "MOBTIER1"];
                var arr2 = ["PREROLL"];
                var arr3 = ["PAN","FSCROSS", "NATMOBVIDEO", "NATMOBBANN", "VIBER", "300x250m", "MULTIVID", "STRING",
                    "240х400vs", "240х400vm", "MAINMOB", "FSVIDEO", "1080х607s", "300x300a", "YOUNG", "300x300v",
                    "PRIORITY", "VIDEODEAL", "REWA", "OKVIDEOP", "OKVK", "AUDIO", "INCMOBILE"];
                var arr4 = ["NRPREMI","VQTAD","VIQEO","NRBUMPER","VIQEOBUM","VQTBUM","NRSTAND"];
                var arr5 = ["MYWIDGET"];
                var arr6 = ["APPADS"];

                var answer = elem_text + "|" +  num_text;

                if (arr1.includes(format)) {
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads1 +"|" + name + "|" + geo + "|" + length;
                } else if(arr2.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads2 +"|" + name + "|" + geo + "|" + length;
                }else if(arr3.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads3 +"|" + name + "|" + geo + "|" + length;
                }else if(arr4.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads4 +"|" + name + "|" + geo + "|" + length;
                }else if(arr5.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads5 +"|" + name + "|" + geo + "|" + length;
                }else if(arr6.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads6 +"|" + name + "|" + geo + "|" + length;
                }else{
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+""+"|" + name + "|" + geo + "|" + length;
                }



            }


            function add_length() {
                var elem_text = document.getElementById("input").value;
                var num_text = document.getElementById("num").value;
                var format = document.getElementById('DifFormat').value;
                var sex = document.getElementById('sex').value;
                var age_above = document.getElementById('age_above').value;
                var age_below = document.getElementById('age_below').value;
                var type = document.getElementById('targeting').value;
                var ads1 = document.getElementById('typeofads1').value;
                var ads2 = document.getElementById('typeofads2').value;
                var ads3 = document.getElementById('typeofads3').value;
                var ads4 = document.getElementById('typeofads4').value;
                var ads5 = document.getElementById('typeofads5').value;
                var ads6 = document.getElementById('typeofads6').value;
                var name = document.getElementById('nametargeting').value;
                var geo =  $('#multipleregs').val().join("+");
                var length = document.getElementById('length').value +"s";

                var arr1 = ["MOBVIDEOSQ", "MOBVIDEO", "MOBVIDEOVER", "MULTIFOR", "90х75", "CAROUSEL", "240х400ah",
                    "240х400ag", "MOBTIER3", "MOBTIER2", "MOBTIER1"];
                var arr2 = ["PREROLL"];
                var arr3 = ["PAN","FSCROSS", "NATMOBVIDEO", "NATMOBBANN", "VIBER", "300x250m", "MULTIVID", "STRING",
                    "240х400vs", "240х400vm", "MAINMOB", "FSVIDEO", "1080х607s", "300x300a", "YOUNG", "300x300v",
                    "PRIORITY", "VIDEODEAL", "REWA", "OKVIDEOP", "OKVK", "AUDIO", "INCMOBILE"];
                var arr4 = ["NRPREMI","VQTAD","VIQEO","NRBUMPER","VIQEOBUM","VQTBUM","NRSTAND"];
                var arr5 = ["MYWIDGET"];
                var arr6 = ["APPADS"];

                var answer = elem_text + "|" +  num_text;
                if ($('#multipleregs').val().length > 5){geo = "REGS";}
                if (arr1.includes(format)) {
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads1 +"|" + name + "|" + geo + "|" + length;
                } else if(arr2.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads2 +"|" + name + "|" + geo + "|" + length;
                }else if(arr3.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads3 +"|" + name + "|" + geo + "|" + length;
                }else if(arr4.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads4 +"|" + name + "|" + geo + "|" + length;
                }else if(arr5.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads5 +"|" + name + "|" + geo + "|" + length;
                }else if(arr6.includes(format)){
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+ ads6 +"|" + name + "|" + geo + "|" + length;
                }else{
                    document.getElementById("сompany_result").value = answer + "|" + format + "|" + sex + "|"
                        + age_above+ "-" + age_below + "|"+ type +"|"+""+"|" + name + "|" + geo + "|" + length;
                }

            }

</script>

     <p class="texts">Итог</p>
     <div class="input-bar">
        <div class="input-bar-item">
          <form>
             <div class="width100">
                <input class="form-control" style="width: 480px; margin-bottom: 2%;" id="сompany_result">
            </div>
          </form>
        </div>
        <div class="input-bar-item">
          <input type="button" class="btn btn-info space" style="resize: both;" value="Скопировать в буфер" onclick="copy2clipboard_inc_result()"><a></a>
        </div>
      </div>

    <script>

        function copy2clipboard_inc_result() {
            /* Get the text field */
            var copyText = document.getElementById("сompany_result");

            /* Select the text field */
            copyText.select();

            /* Copy the text inside the text field */
            document.execCommand("copy");
        }

        </script>
</form>
<form action="{% url 'blog_index' %}">
        <p><button type="submit" class="btn btn-info alt_but">Назад на основную страницу</button>
    </form>

{% endblock %}