{% extends 'BafosApp/base.html' %}
{% block BafosApp_title %}ADV APPS{% endblock %}

{% block BafosApp_content %}
<main role="main">
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-3"></h1>
				</div>
			</div>
		</main>
<form action="" method="get">
<p class="fields"><label>
    <input type="text" name="text">
</label>
    <p class="texts">Требуемый запрос</p>

    <label class="field">
        <select name="data" class="nav-link">
            <option>Выберете категорию</option>
            <option>video</option>
            <option>channel</option>
        </select>
    </label>
        <p class="texts">Категория</p>
    <div>
        <p><input class="knopka btn-sm" type="submit" value="Получить"></p>
</div>
</form>

    <p ><button class="knopka btn-sm" name="mybtn"><a href="{% url 'blog_index' %}">Назад на основную страницу</a></button>
{% endblock %}

