{% extends 'BafosApp/base.html' %}
{% block BafosApp_title %}ADV APPS{% endblock %}

{% block BafosApp_content %}
<main role="main">
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-3"></h1>
				</div>
			</div>
		</main>
<form action="" method="get">
        <p class="texts">Требуемый запрос</p>
<p class="fields"><label>
    <input class="form-control" style="width: 280px;" type="text" name="text">
</label>

        <p class="texts">Категория</p>

    <label class="field" style="margin-bottom: 5%; /* Отступ снизу */">
        <select name="data" class="form-control">
            <option>Выберете категорию</option>
            <option>video</option>
            <option>channel</option>
        </select>
    </label>


    <div>
        <p><input class="btn btn-info alt_but" type="submit" value="Получить"></p>
</div>
</form>

    <form action="{% url 'blog_index' %}">
        <p><button type="submit" class="btn btn-info alt_but"  value="столбец">Назад на основную страницу</button>
    </form>

{% endblock %}

