a {
    color: blue;
    text-decoration: none;
   }

em {
    border: 2px solid #466995;
    border-radius: 7%;
    padding: 15%;
}


.welcome {
    background: #fff; /* запасной цвет для старых браузеров */
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Oswald';
    opacity: 0.75;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    top: 20%;
    padding:40%;
}

.knopka{
  font-weight: 700;
  display: block;
  margin: auto 33%;
  padding: 0.5%;
  width: 10%;
  max-width: 100%;
  background: #fff; /* запасной цвет для старых браузеров */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8%;
  color: blue;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}
.knopka:hover { background: #fff; }
.knopka:active {
  background: white;
  box-shadow: 0 3px white inset;
}


#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #fff; /* запасной цвет для старых браузеров */
    background: rgba(255, 255, 255, 0.5);
    color: black; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

.texts {
        margin: 1% 35%;
}


.tables {
    margin: auto 34%;;
}

.fields {
    margin: auto 34%;
}

.field {
    margin: auto 284%;
}


.data {
    margin: auto 199%;
}

.organ {
    margin: 1% 27%;
}

.checkbox {
    margin: auto 59%;
}

.headline {
    color: #466995;
    font-family: Georgia;
    width: 100%;
    padding-top: 2px;
    padding-right: 20%;
}
.post{
    background-color: #DBE9EE;
    margin: auto 100%;
    opacity: 0.65;
    border-radius: 5%;

}
.category {
    color:#466995;
    "color: rgba(165, 50, 255, 0.5);"
}

.datepublish {
       color:#466995;
      "color: rgba(165, 50, 255, 0.5);"

}

.tease {
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    font-size: 18%;
    font-weight: bold;
}